<template>
  <footer>
    <div class="wrapper">
      <p>Copyright {{ currentDate.getFullYear() }} CN. All Rights Reserved</p>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      currentDate: new Date,
    }
  }
}
</script>

<style scoped>
  footer {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    font-size: 12px;
    background: #ffffff;
  }
  p {
    margin: 0;
  }
</style>