<template>
  <!-- <div class="wrapper-header"> -->
    <b-navbar toggleable="lg" sticky>
      <b-navbar-brand to="/">CN</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">{{ $t('dashboard') }}</b-nav-item>
          <b-nav-item to="/about">About</b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown class="nav-item-right" :text="language" right>
            <b-dropdown-item @click="changeLanguage" name="en">{{ $t('en') }}</b-dropdown-item>
            <b-dropdown-item @click="changeLanguage" name="ja">{{ $t('ja') }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item to="/login">{{ $t('login') }}</b-nav-item>
          <b-nav-item to="/register">{{ $t('register') }}</b-nav-item>
          <!-- <b-button size="sm" class="my-2 my-sm-0" type="submit">Register Listing</b-button> -->
          <b-button class="btn-cta" pill variant="primary" to="register-listing">Register Listing</b-button>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  <!-- </div> -->
</template>

<script>
export default {
  data() {
    return {
      language: this.$i18n.locale === 'en' ? 'EN' : '日本語',
    }
  },
  methods: {
    changeLanguage(event) {
      const lang = event.target.name;
      this.language = lang === 'en' ? 'EN' : '日本語';
      this.$i18n.setLocale(lang);
    }
  }
}
</script>

<style scoped>
  nav.navbar {
    background: #ffffff;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  }
  nav .navbar-brand,
  nav .navbar-brand:hover,
  nav .navbar-brand:focus {
    color: rgb(26,157,255);
    font-weight: 700;
    font-size: 25px;
  }
  .nav-item .nav-link{
    color: rgb(113, 117, 121);
  }
  
  .nav-item .nav-link:hover,
  .nav-item .nav-link:focus {
    color: #091e3f;
  }
</style>