@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  padding: 20px 50px;
}

.btn-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}