<template>
  <div class="wrapper">
    <b-container fluid>
      <b-row>
        <b-col>
          <div class="hero-details">
            <h1 class="hero-title">
              Login
            </h1>
            <h2 class="hero-title">
              View
            </h2>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas pariatur sed impedit eaque molestias officiis architecto voluptatibus odio deleniti, repellat eos natus. Corporis reprehenderit deserunt architecto vitae. Assumenda, ipsa?</p>
            <b-button pill variant="primary">View Login</b-button>
          </div>
        </b-col>
        <b-col>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<style scoped>
  .hero-details {
    margin-top: 80px;
  }
  .hero-details h1 {
    font-size: 60px;
    font-weight: 800;
  }
  .hero-details h2 {
    font-size: 50px;
    font-weight: 800;
  }
  .hero-title {
    color: #091e3f;
  }
  .lorem {
    padding: 0 20px;
    border-left: 2px solid #ffd201;
    color: rgb(113, 117, 121);
    margin-top: 50px;
  }
</style>