<template>
  <div class="wrapper">
    <b-container fluid>
      <b-row>
        <b-col>
          <div>
            <h3>Construction Shop Listing Profile</h3>
            <p>This information will be displayed publicly on the construction shop listing.</p>
          </div>
        </b-col>
        <b-col>
          <b-form @submit.prevent="registerShop">
            <b-form-group id="input-group-company-name" label="Construction shop name" label-for="company-name">
              <b-form-input
                id="company-name"
                v-model="form.company_name"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-country" label="Country" label-for="country">
              <b-form-select
                id="country"
                v-model="form.country"
                :options="countries"
                value-field="item"
                text-field="name"
                required
              ></b-form-select>
            </b-form-group>

            <b-form-group id="input-group-street-address" label="Street address" label-for="street-address">
              <b-form-input
                id="street-address"
                v-model="form.street_address"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-city" label="City" label-for="city">
              <b-form-input
                id="city"
                v-model="form.city"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-state" label="State / Province" label-for="state">
              <b-form-input
                id="state"
                v-model="form.state"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-zip" label="ZIP / Postal code" label-for="zip">
              <b-form-input
                id="zip"
                v-model="form.zip"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-contact-number" label="Contact number" label-for="contact-number">
              <b-form-input
                id="contact-number"
                v-model="form.contact"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-email"
              label="Email address"
              label-for="email"
              description="We'll never share your email with anyone else."
            >
              <b-form-input
                id="email"
                v-model="form.email"
                type="email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-website" label="Website" label-for="website">
              <b-input-group prepend="http://">
                <b-form-input
                  id="website"
                  v-model="form.website"
                  required
                ></b-form-input>
              </b-input-group>
            </b-form-group>

            <b-form-group id="input-group-about" label="About" label-for="about">
              <b-form-textarea
                id="about"
                v-model="form.about"
              ></b-form-textarea>
            </b-form-group>

            <b-form-group id="input-group-services" label="Services" label-for="services">
              <b-form-input
                id="services"
                v-model="form.services"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Gallery" label-for="input-2">
              <!-- <b-form-input
                id="input-2"
                v-model="form.name"
                required
              ></b-form-input> -->
              <div class="dropzone-wrapper">
                <div class="dropzone-desc">
                  <!-- <i class="glyphicon glyphicon-download-alt"></i> -->
                  <b-icon icon="images" font-scale="2"></b-icon>
                  <p><strong>Upload images</strong> or drag and drop</p>
                </div>
                <input @change="onFileChange" type="file" name="img_logo" class="dropzone" accept="image/*" multiple>
                <!-- <b-form-file class="dropzone" accept="image/*" multiple></b-form-file> -->
              </div>

              
            </b-form-group>

            <b-button pill type="submit" variant="primary">Register</b-button>
          </b-form>
          <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <Footer />
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          company_name: '',
          country: 'ph',
          street_address: '',
          city: '',
          state: '',
          zip: '',
          contact: '',
          email: '',
          website: '',
          about: '',
          services: '',
          gallery: [],
        },
        countries: [
          { name: 'Philippines', item: 'ph' },
          { name: 'Japan', item: 'jp' },
          { name: 'United States', item: 'us' },
        ],
      }
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset() {
        this.company_name = '';
        this.country = 'ph';
        this.street_address = '';
        this.city = '';
        this.state = '';
        this.zip = '';
        this.contact = '';
        this.email = '';
        this.website = '';
        this.about = '';
        this.services = '';
        this.gallery = [];
      },
      onFileChange(event) {
        let files = event.target.files || event.dataTransfer.files;
        if (!files.length) return;
        this.form.gallery = Array(files.length).fill().map((_, index) => files[index].name);
        // this.createImage(files[0]);
      },
      async registerShop() {
        const config = {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }

        try {
          const res = await this.$axios.post(this.$axios.defaults.baseURL, this.form, config);
          console.log('Response', res);

          this.onReset();
        } catch (e) {
          console.error(e);
        }
      }
    }
  }
</script>

<style scoped>
  .hero-details {
    margin-top: 80px;
  }
  .hero-details h1 {
    font-size: 60px;
    font-weight: 800;
  }
  .hero-details h2 {
    font-size: 50px;
    font-weight: 800;
  }
  .hero-title {
    color: #091e3f;
  }
  .lorem {
    padding: 0 20px;
    border-left: 2px solid #ffd201;
    color: rgb(113, 117, 121);
    margin-top: 50px;
  }

  .dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  /* position: relative; */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone-desc {
  /* position: absolute; */
  /* position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone,
.dropzone:focus,
.dropzone .custom-file-input {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}
</style>